<div class="container">
  <ul class="list-inline">
    <li>{{#link-to 'entries.new'}}New entry{{/link-to}}</li>
    <li>{{#link-to 'entries'}}Old entries{{/link-to}}</li>
  </ul>

  {{outlet}}
</div>
