<ul>
  {{#each entries as |entry|}}
    <li>
      {{#link-to 'entries.entry' entry}}
        {{moment entry.dateCreated}}
      {{/link-to}}

      <a href="#" {{action 'deleteEntry' entry}}>{{fa-icon 'close'}}</a>
    </li>
  {{/each}}
</ul>
